.seo-checker {

    p {
        margin: 0;
    }

    &-test {
        padding: 5px 5px 5px 25px;
        position: relative;
        
        &:before {
            position: absolute;
            left: 5px;
            top: 7px;
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 14px;
            width: 14px;
            border-radius: 50%;
            background: var(--success);
        }

        &.fail:before {
            background: var(--fail);
        }

        &.warning:before {
            background: var(--warning);
        }

        div {

            a {
                display: inline-block;
                vertical-align: middle;
                height: 18px;
                margin-left: 5px;
                cursor: pointer;

                svg {
                    margin-top: 1px;
                    height: 16px;
                    width: 16px;
                    fill: var(--expand);
                }
            }
        }

        pre {
            margin: 5px 0 0;
            background-color: black;
            color: white;

            code {
                padding: 5px;
                display: block;
                overflow-x: auto;
            }
        }

        &:not(.expanded) {

            & > pre {
                display: none !important;
            }
        }

        p {
            margin-top: 5px;
            padding: 4px 10px;
            border-radius: 5px;

            &:empty {
                display: none;
            }
        }

        &.fail p {
            background: var(--fail-bg);
        }

        &.warning p {
            background: var(--warning-bg);
        }
    }

    p + &-test {
        margin-top: 5px;
    }

    &-section &-test:hover {
        background: var(--results-test-hover-bg);
    }
}